.DS_Store

# Build Artifacts
cloudformation-packaged.yaml
deploy-parameters-packaged.json
coverage/
dist/
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/.vitepress/sidebar.json
docs/rules/
node_modules/
