---
name: NPM Publish

on:
  release:
    types:
      - created

jobs:
  configure:
    name: Configure Environment
    runs-on: ubuntu-latest
    outputs:
      config: ${{ steps.configure.outputs.config }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Shared Actions
        uses: ./.github/workflows/composites/shared-actions
        with:
          node-token: ${{ secrets.GH_NPM_READ_TOKEN }}
          ssh-key: ${{ secrets.GH_SSH_PRIVATE_KEY }}

      - name: Configure
        id: configure
        uses: ./.github/actions/composites/configure
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}

  npm-publish:
    name: NPM Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - configure
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Shared Actions
        uses: ./.github/workflows/composites/shared-actions
        with:
          config: ${{ needs.configure.outputs.config }}
          node-token: ${{ secrets.GH_NPM_READ_TOKEN }}
          ssh-key: ${{ secrets.GH_SSH_PRIVATE_KEY }}

      - name: Node Install
        uses: ./.github/actions/composites/node-install
        with:
          config: ${{ needs.configure.outputs.config }}

      - name: NPM Publish
        shell: bash
        run: |
          npm install --global npm@latest
          npm ci
          npm publish
